.root {
    -fx-font-family: "Lucida Bright";
    -fx-background-color: white;
}

.navigationBarBox {
    -fx-background-color: #6EA2EF;
    -fx-alignment: left;
    -fx-padding: 5;
    -fx-pref-width: 80;
 }

 .mainLayout {
    -fx-padding: 5;
 }

.button {
    -fx-background-color: #ADD8E6;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #d6e6ff;
    -fx-background-radius: 8;
}

.headerBox {
    -fx-alignment: center-right;
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-spacing: 30;
}

.title {
    -fx-padding: 5;
    -fx-font-weight: bold;
    -fx-font-size: 35;
    -fx-text-fill: #white;
    -fx-alignment: center;
}

.weekBox {
    -fx-padding: 5;
}

.locationSearch {
    -fx-padding: 5;
    -fx-alignment: center-right;
    -fx-spacing: 10;
}
.vbox {
    -fx-spacing: 15;
}

.weatherInformationBox {
    -fx-padding: 20;
    -fx-spacing: 15;
}

.infoAndAdsBox {
    -fx-padding: 20;
    -fx-spacing: 20;
}

.advertisementBox {
    -fx-margin-top: 10%;
    -fx-background-color: #FFD1DF;
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-background-radius: 10;
}
.label {
    -fx-font-size: 14px;
}

.textField {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-color: #cccccc;
    -fx-padding: 6;
}

.hbox {
    -fx-spacing: 10;
    -fx-alignment: center-left;
}

.image-view {
    -fx-effect: dropshadow(Gaussian , rgba(0,0,0,0.2) , 4,0,0,1 );
}

.ad-details {
    -fx-font-weight: bold;
}